<div class="container">
  <h1 class="header">Your Cart</h1>

  <div class="empty-cart" *ngIf="cartItems.length === 0">
    You have no items in your cart
  </div>
  <ul class="cart" *ngIf="cartItems.length > 0">
    <li class="cart-item" *ngFor="let cart of cartItems">
      <div class="product">
        <div class="product-details">
          <img [src]="getImageUrl(cart)" [alt]="cart.productName" />
          <div class="product-info">
            <div class="name">{{ cart.productName }}</div>
            <div class="description">{{ cart.description }}</div>
            <div class="category">Part Type: {{ cart.category }}</div>
          </div>
        </div>
        <div class="price">
          <div [ngClass]="{ strikethrough: cart.discount > 0 }">
            {{ cart.price | currency : "USD" }}
          </div>
          <div *ngIf="cart.discount > 0" class="discount">
            {{ cart.price * (1 - cart.discount) | currency : "USD" }}
          </div>
          <button (click)="removeFromCart(cart)">Remove</button>
        </div>
      </div>
    </li>
  </ul>
  <div class="total">Total: {{ cartTotal | currency }}</div>
</div>