<div class="container">
  <div class="hero"></div>

  <div class="promoted">
    <img src="/assets/images/Watch-1.jpg" alt="watch-1" />
    <div class="promo-text">
      <div class="promo-main-text">One Stop Shop for all your looks</div>
      <div class="promo-sub-text cta">
        <div>SAVE 20% ON THE LATEST</div>
        <div>FASHION TRENDS</div>
      </div>
    </div>
    <img src="/assets/images/bracelet-1.jpg" alt="bracelet-1" />
  </div>

  <ul class="cta">
    <li>
      <a routerLink="/catalog" [queryParams]="{filter: 'watch'}" class="part">
        <img src="/assets/images/watch-2.png" alt="Robot Heads" />
        <div>Watches</div>
      </a>
    </li>
    <li>
      <a routerLink="/catalog" [queryParams]="{filter: 'belt'}" class="part">
        <img src="/assets/images/belt-2.png" alt="belt" />
        <div>Belts</div>
      </a>
    </li>
    <li>
      <a routerLink="/catalog" [queryParams]="{filter: 'bracelet'}" class="part">
        <img src="/assets/images/bracelet-2.png" alt="bracelet" />
        <div>Bracelets</div>
      </a>
    </li>
    <li>
      <a routerLink="/catalog" [queryParams]="{filter: 'sunglass'}" class="part">
        <img src="/assets/images/sunglass-2.png" alt="sunglass" />
        <div>Sunglass</div>
      </a>
    </li>
  </ul> 
</div>